#middle_button_600 {
  grid-area: 1 / 1 / 2 / 7;
}

#middle_button_601 {
  grid-area: 1 / 7 / 2 / 13;
}

#p_header_602 {
  grid-area: 2 / 1 / 3 / 13;
}

#middle_button_602 {
  grid-area: 3 / 1 / 4 / 7;
}

#middle_button_603 {
  grid-area: 3 / 7 / 4 / 13;
}

#p_header_604 {
  grid-area: 4 / 1 / 5 / 13;
}

#middle_button_604 {
  grid-area: 5 / 1 / 6 / 4;
}

#middle_button_605 {
  grid-area: 5 / 4 / 6 / 7;
}

#middle_button_606 {
  grid-area: 5 / 7 / 6 / 10;
}

#middle_button_607 {
  grid-area: 5 / 10 / 6 / 13;
}

#middle_button_608 {
  grid-area: 6 / 1 / 7 / 4;
}

#middle_button_609 {
  grid-area: 6 / 4 / 7 / 7;
}

#middle_button_610 {
  grid-area: 6 / 7 / 7 / 10;
}

#middle_button_611 {
  grid-area: 6 / 10 / 7 / 13;
}

#middle_button_612 {
  grid-area: 7 / 1 / 8 / 4;
}

#middle_button_613 {
  grid-area: 7 / 4 / 8 / 7;
}

#middle_button_614 {
  grid-area: 7 / 7 / 8 / 10;
}

#middle_button_615 {
  grid-area: 7 / 10 / 8 / 13;
}

#p_header_616 {
  grid-area: 9 / 1 / 10 / 13;
}

#middle_button_616 {
  grid-area: 10 / 1 / 11 / 4;
}

#middle_button_617 {
  grid-area: 10 / 4 / 11 / 7;
}

#middle_button_618 {
  grid-area: 10 / 7 / 11 / 10;
}

#middle_button_619 {
  grid-area: 10 / 10 / 11 / 13;
}

#middle_button_620 {
  grid-area: 11 / 1 / 12 / 4;
}

#middle_button_621 {
  grid-area: 11 / 4 / 12 / 7;
}

#middle_button_622 {
  grid-area: 11 / 7 / 12 / 10;
}

#middle_button_623 {
  grid-area: 11 / 10 / 12 / 13;
}

#p_header_624 {
  grid-area: 12 / 1 / 13 / 13;
}

#middle_button_624 {
  grid-area: 13 / 1 / 14 / 10;
}

#middle_button_625 {
  grid-area: 14 / 1 / 15 / 10;
}

#middle_button_626 {
  grid-area: 13 / 10 / 15 / 13;
}

#p_header_627 {
  grid-area: 16 / 1 / 17 / 13;
}

#middle_button_627 {
  grid-area: 17 / 1 / 18 / 10;
}

#middle_button_628 {
  grid-area: 18 / 1 / 19 / 10;
}

#middle_button_629 {
  grid-area: 17 / 10 / 19 / 13;
}

#p_header_630 {
  grid-area: 19 / 1 / 20 / 13;
}

#middle_button_630 {
  grid-area: 20 / 1 / 21 / 5;
}

#middle_button_631 {
  grid-area: 20 / 5 / 21 / 9;
}

#middle_button_632 {
  grid-area: 20 / 9 / 21 / 13;
}
