@import url("land-00-menu-grid.css") screen and (orientation: landscape);
@import url("land-01-menu-grid.css") screen and (orientation: landscape);
@import url("land-left.css") screen and (orientation: landscape);
@import url("land-middle.css") screen and (orientation: landscape);
@import url("land-right.css") screen and (orientation: landscape);

:root {
  --left-smallmenu-land: 0px;
  --top-smallmenu-land: 0px;
  --width-smallmenu-land: 1425px;

  --width-smallmenu-land-div: 1326px;
  --height-smallmenu-land-div: 625px;
  --left-smallmenu-land-div: 57px;
  --top-smallmenu-land-div: 80px;  
}

.main-small-landscape {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: calc(var(--widthStandart) * var(--ratioSizeWin));
  height: calc(var(--heightStandart) * var(--ratioSizeWin));
  display: grid;
  background: var(--COLOR-SCHEME-02);
}

.smallmenu-landscape-bg {
  background:
    url(../svg/background_land.svg);
  background-repeat: no-repeat;
  background-position:
    left calc(var(--left-smallmenu-land) * var(--ratioSizeWin)) top calc(var(--top-smallmenu-land) * var(--ratioSizeWin));
  background-size:
    calc(var(--width-smallmenu-land) * var(--ratioSizeWin));
}

.smallmenu-land-div {
  display: grid;
  position: relative;  
  grid-template-columns: 4fr 4fr 12fr;
  grid-template-rows: 1fr;
  width: calc(var(--width-smallmenu-land-div) * var(--ratioSizeWin));
  height: calc(var(--height-smallmenu-land-div) * var(--ratioSizeWin));
  left: calc(var(--left-smallmenu-land-div) * var(--ratioSizeWin));
  top: calc(var(--top-smallmenu-land-div) * var(--ratioSizeWin));
}
