:root {
  --middle-button-header-font-size: 22px;
  --middle-header-font-size: 23px;
  --padding-font: 3px;
  --letter-spacing-font: 1px;
  --padding-header: 9px;
  --margin-header: 12px;
}

.smallmenu-middle-div {
  background: var(--COLOR-SCHEME-06);
  width: 100%;
  height: calc(var(--height-smallmenu-land-div) * var(--ratioSizeWin));
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.middle-button {
  cursor: pointer;
  padding: 0;
  margin: calc(var(--margin-top-button) * var(--ratioSizeWin) * 1.95) calc(var(--margin-top-button) * var(--ratioSizeWin) * 2.6);
  background: var(--COLOR-SCHEME-05);
  box-shadow: calc(var(--smallmenu-shadow-right) * var(--ratioSizeWin)) calc(var(--smallmenu-shadow-bottom) * var(--ratioSizeWin)) calc(var(--smallmenu-shadow-blur) * var(--ratioSizeWin)) rgba(0, 0, 0, 0.4);
  border-radius: calc(var(--smallmenu-button-border-radius) * var(--ratioSizeWin));
  border-color: transparent;
  border-style: none;
}

.middle-button-header {
  margin: 0;
  padding: calc(var(--padding-font) * var(--ratioSizeWin)) 0 0 0;
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  letter-spacing: calc(var(--letter-spacing-font) * var(--ratioSizeWin));
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(var(--middle-button-header-font-size) * var(--ratioSizeWin));
  color: var(--COLOR-SCHEME-03);
}

.middle-button-selected {
  cursor: pointer;
  padding: 0;
  margin: calc(var(--margin-top-button) * var(--ratioSizeWin) * 1.95) calc(var(--margin-top-button) * var(--ratioSizeWin) * 2.6);
  background: var(--COLOR-SCHEME-10);
  box-shadow: calc(var(--smallmenu-shadow-right) * var(--ratioSizeWin)) calc(var(--smallmenu-shadow-bottom) * var(--ratioSizeWin)) calc(var(--smallmenu-shadow-blur) * var(--ratioSizeWin)) rgba(0, 0, 0, 0.4);
  border-radius: calc(var(--smallmenu-button-border-radius) * var(--ratioSizeWin));
  border-color: transparent;
  border-style: none;
}

.middle-button-header-selected {
  margin: 0;
  padding: calc(var(--padding-font) * var(--ratioSizeWin)) 0 0 0;
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  letter-spacing: calc(var(--letter-spacing-font) * var(--ratioSizeWin));
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(var(--middle-button-header-font-size) * var(--ratioSizeWin));
  color: var(--COLOR-SCHEME-11);
}

.middle-header {
  padding: calc(var(--padding-header) * var(--ratioSizeWin)) 0 0 0;
  margin: 0 0 0 calc(var(--margin-header) * var(--ratioSizeWin));
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  letter-spacing: calc(var(--letter-spacing-font) * var(--ratioSizeWin) * 1.5);
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(var(--middle-header-font-size) * var(--ratioSizeWin));
  color: var(--COLOR-SCHEME-09);
  align-self: center;
}

.middle-button:focus,
.middle-button-selected:focus,
.middle-button:hover,
.middle-button-selected:hover {
  background: var(--COLOR-SCHEME-12);
}
