/*grid-column-start:
  grid-column-end: 
  grid-row-start:
  grid-row-end:  */

#middle_button_000 {
  grid-area: 1 / 1 / 2 / 7;
}

#middle_button_001 {
  grid-area: 1 / 7 / 2 / 13;
}

#p_header_002 {
  grid-area: 2 / 1 / 3 / 13;
}

#middle_button_002 {
  grid-area: 3 / 1 / 4 / 7;
}

#middle_button_003 {
  grid-area: 3 / 7 / 4 / 13;
}

#p_header_004 {
  grid-area: 4 / 1 / 5 / 13;
}

#middle_button_004 {
  grid-area: 5 / 1 / 6 / 5;
}

#middle_button_005 {
  grid-area: 5 / 5 / 6 / 9;
}

#middle_button_006 {
  grid-area: 5 / 9 / 6 / 13;
}

#middle_button_007 {
  grid-area: 6 / 1 / 7 / 5;
}

#middle_button_008 {
  grid-area: 6 / 5 / 7 / 9;
}

#middle_button_009 {
  grid-area: 6 / 9 / 7 / 13;
}

#middle_button_010 {
  grid-area: 7 / 1 / 8 / 5;
}

#middle_button_011 {
  grid-area: 7 / 5 / 8 / 9;
}

#middle_button_012 {
  grid-area: 7 / 9 / 8 / 13;
}

#p_header_013 {
  grid-area: 8 / 1 / 9 / 13;
}

#middle_button_013 {
  grid-area: 9 / 1 / 10 / 5;
}

#middle_button_014 {
  grid-area: 9 / 5 / 10 / 9;
}

#middle_button_015 {
  grid-area: 10 / 1 / 11 / 5;
}

#middle_button_016 {
  grid-area: 10 / 5 / 11 / 9;
}

#middle_button_017 {
  grid-area: 9 / 9 / 11 / 13;
}

#p_header_018 {
  grid-area: 11 / 1 / 12 / 13;
}

#middle_button_018 {
  grid-area: 12 / 1 / 13 / 9;
}

#middle_button_019 {
  grid-area: 13 / 1 / 14 / 9;
}

#middle_button_020 {
  grid-area: 12 / 9 / 14 / 13;
}

#p_header_021 {
  grid-area: 14 / 1 / 15 / 13;
}

#middle_button_021 {
  grid-area: 15 / 1 / 16 / 5;
}

#middle_button_022 {
  grid-area: 15 / 5 / 16 / 9;
}

#middle_button_023 {
  grid-area: 16 / 1 / 17 / 5;
}

#middle_button_024 {
  grid-area: 16 / 5 / 17 / 9;
}

#middle_button_025 {
  grid-area: 15 / 9 / 17 / 13;
}
