#middle-button-0 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#middle-button-1 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

#middle-button-2 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

#middle-button-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#middle-button-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

#middle-button-5 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

#middle-button-6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#middle-button-7 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

#middle-button-8 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

#middle-button-9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#middle-button-10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

#middle-button-11 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
}

#middle-button-12 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#middle-button-13 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
}

#middle-button-14 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
}

#middle-button-15 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
}

#middle-button-16 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

#middle-button-17 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10;
}

#middle-button-18 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#middle-button-19 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 11;
}

#middle-button-20 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 11;
}

#middle-button-21 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 12;
}

#middle-button-22 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 13;
}

#middle-button-23 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 13;
  grid-row-end: 14;
}

#middle-button-24 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 12;
  grid-row-end: 14;
}

#middle-button-25 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 14;
  grid-row-end: 15;
}


#middle-button-26 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 15;
  grid-row-end: 16;
}

#middle-button-27 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 15;
  grid-row-end: 16;
}

#middle-button-28 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
}

#middle-button-29 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 16;
  grid-row-end: 17;
}

#middle-button-30 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 15;
  grid-row-end: 17;
}
