#middle_button_900 {
  grid-area: 4 / 1 / 5 / 19;
}

#middle_button_901 {
  grid-area: 5 / 1 / 6 / 19;
}

#middle_button_902 {
  grid-area: 4 / 19 / 5 / 37;
}

#middle_button_903 {
  grid-area: 5 / 19 / 6 / 37;
}
