@import url("portrait-first.css") (orientation: portrait);
@import url("portrait-second.css") (orientation: portrait);
@import url("portrait-third.css") (orientation: portrait);

@import url("port-00-menu-grid.css") (orientation: portrait);
@import url("port-01-menu-grid.css") (orientation: portrait);
@import url("port-02-menu-grid.css") (orientation: portrait);
@import url("port-03-menu-grid.css") (orientation: portrait);
@import url("port-04-menu-grid.css") (orientation: portrait);
@import url("port-05-menu-grid.css") (orientation: portrait);
@import url("port-06-menu-grid.css") (orientation: portrait);
@import url("port-07-menu-grid.css") (orientation: portrait);
@import url("port-08-menu-grid.css") (orientation: portrait);
@import url("port-09-menu-grid.css") (orientation: portrait);
@import url("port-10-menu-grid.css") (orientation: portrait);
@import url("port-11-menu-grid.css") (orientation: portrait);

:root {
  --left-smallmenu-port: 0px;
  --top-smallmenu-port: 32px;
  --width-smallmenu-port: 798px;

  --width-smallmenu-port-div: 690px;
  --height-smallmenu-port-div: 1250px;
  --left-smallmenu-port-div: 56px;
  --top-smallmenu-port-div: 85px;  
}

.main-small-portrait {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: calc(var(--widthStandart) * var(--ratioSizeWin));
  height: calc(var(--heightStandart) * var(--ratioSizeWin));
  display: grid;
  background: var(--COLOR-SCHEME-02);
}

.smallmenu-portrait-bg {
  background:
    url(../svg/background_port.svg);
  background-repeat: no-repeat;
  background-position:
    left calc(var(--left-smallmenu-port) * var(--ratioSizeWin)) top calc(var(--top-smallmenu-port) * var(--ratioSizeWin));
  background-size:
    calc(var(--width-smallmenu-port) * var(--ratioSizeWin));
}

.smallmenu-port-div {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;  
  grid-template-rows: 19fr 4fr 7fr;
  width: calc(var(--width-smallmenu-port-div) * var(--ratioSizeWin));
  height: calc(var(--height-smallmenu-port-div) * var(--ratioSizeWin));
  left: calc(var(--left-smallmenu-port-div) * var(--ratioSizeWin));
  top: calc(var(--top-smallmenu-port-div) * var(--ratioSizeWin));
}
