#middle_button_1000 {
  grid-area: 1 / 1 / 2 / 19;
}

#middle_button_1004 {
  grid-area: 1 / 19 / 2 / 37;
}

#middle_button_1001 {
  grid-area: 5 / 1 / 6 / 37;
}

#middle_button_1002 {
  grid-area: 2 / 1 / 3 / 19;
}

#middle_button_1003 {
  grid-area: 2 / 19 / 3 / 37;
}

#middle_button_1005 {
  grid-area: 4 / 1 / 5 / 37;
}

#middle_button_1006 {
  grid-area: 3 / 1 / 4 / 37;
}
