:root {
  --left-bigmenu-port: 0px;
  --top-bigmenu-port: 32px;
  --width-bigmenu-port: 798px;

  --width-bigmenu-port-div: 690px;
  --height-bigmenu-port-div: 1250px;
  --left-bigmenu-port-div: 52px;
  --top-bigmenu-port-div: 85px;

  --bigmenu-button-margin: 18px;
  --bigmenu-button-padding: 8px;
  --bigmenu-button-border-radius: 10px;
  --bigmenu-button-shadow-right: 5px;
  --bigmenu-button-shadow-bottom: 8px;
  --bigmenu-button-shadow-blur: 10px;

  --bigmenu-header-font-size: 40px;
  --bigmenu-description-font-size: 25px;
}

.main-bigmenu-portrait {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: calc(var(--widthStandart) * var(--ratioSizeWin));
  height: calc(var(--heightStandart) * var(--ratioSizeWin));
  display: grid;
  background: var(--COLOR-SCHEME-02);
}

.bigmenu-port-bg {
  background:
    url(../svg/background_port.svg);
  background-repeat: no-repeat;
  background-position:
    left calc(var(--left-bigmenu-port) * var(--ratioSizeWin)) top calc(var(--top-bigmenu-port) * var(--ratioSizeWin));
  background-size:
    calc(var(--width-bigmenu-port) * var(--ratioSizeWin));
}

.bigmenu-port-div {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: calc(var(--width-bigmenu-port-div) * var(--ratioSizeWin));
  height: calc(var(--height-bigmenu-port-div) * var(--ratioSizeWin));
  left: calc(var(--left-bigmenu-port-div) * var(--ratioSizeWin));
  top: calc(var(--top-bigmenu-port-div) * var(--ratioSizeWin));
}

.bigmenu-button {
  cursor: pointer;
  margin: calc(var(--bigmenu-button-margin) * var(--ratioSizeWin));
  padding: calc(var(--bigmenu-button-padding) * var(--ratioSizeWin));
  background: var(--COLOR-SCHEME-05);
  box-shadow: calc(var(--bigmenu-button-shadow-right) * var(--ratioSizeWin)) calc(var(--bigmenu-button-shadow-bottom) * var(--ratioSizeWin)) calc(var(--bigmenu-button-shadow-blur) * var(--ratioSizeWin)) rgba(0, 0, 0, 0.3);
  border-radius: calc(var(--bigmenu-button-border-radius) * var(--ratioSizeWin));
  border-color: transparent;
  border-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.bigmenu-header {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 600;
  font-size: calc(var(--bigmenu-header-font-size) * var(--ratioSizeWin));
  text-align: center;
  align-self: center;
  color: var(--COLOR-SCHEME-03);
}

.bigmenu-description {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(var(--bigmenu-description-font-size) * var(--ratioSizeWin));
  text-align: center;
  align-self: center;
  color: var(--COLOR-SCHEME-03);
}

@media (hover: hover) and (pointer: fine) {

  .bigmenu-button:focus,
  .bigmenu-button:hover {
    background-color: var(--COLOR-SCHEME-10);
    opacity: 0.9;
    transform: scale(1.02);
  }

  .bigmenu-button:focus .bigmenu-header,
  .bigmenu-button:hover .bigmenu-header {
    color: var(--COLOR-SCHEME-11);
  }

  .bigmenu-button:focus .bigmenu-description,
  .bigmenu-button:hover .bigmenu-description {
    color: var(--COLOR-SCHEME-08);
  }
}

@media (hover: none) and (pointer: coarse) {

  .bigmenu-button:focus {
    background-color: var(--COLOR-SCHEME-10);
    opacity: 0.9;
    transform: scale(1.02);
  }

  .bigmenu-button:focus .bigmenu-header {
    color: var(--COLOR-SCHEME-11);
  }

  .bigmenu-button:focus .bigmenu-description {
    color: var(--COLOR-SCHEME-08);
  }
}
